// Рарность предметов
$common: #B4B4B4;
$rare: #006699;
$epic: #A335EE;
$legendary: #FF8000;

// Шрифт
$title: 24px;
$crit: 20px;
$subtitle: 18px;
$regular: 16px;
$base: 14px;
$small: 12px;
$very-small: 10px;

// Базовые цвета
$gray: gray

